{
  "mysql": {
    "host": "localhost",
    "user": "root",
    "password": "123456",
    "database": "smoke_coinswap"
  },
  "bts_rpc_url": "https://api.bts.blckchnd.com",
  "bts_memo_key": "5KY...",
  "bts_tracking_account_id": "1.2.377648",
  "smk_acc": "smoke",
  "smk_active_key": "5JB..."
}